@model AirAsset.Models.Moyen
<link rel="stylesheet" type="text/css" href="~/Content/style_dd_image.css">
@{
    ViewBag.Title = "Details";
}

<hr />
<h2  class="text-info">Details</h2>

<div class="dl-horizontal">
    <h4 class="text-info">Moyen</h4>
    <hr />



    <div class="row">
        <div class="col-md-4">
            <table class="table" border="1">
                <tr>
                    <td>
                        @if (User.IsInRole("canEdit"))
                        {
                            @Html.ActionLink("Créer un exemplaire du moyen", "Create", "Exemplaires")
                        }
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <table class="table" border="1">
                <tr>
                    <td>
                        @using (Html.BeginForm("Index", "Exemplaires", FormMethod.Get))
                        {
                            <label class="text-info">Lister les exemplaires du moyen:</label>
                            <input type="text" name="search" placeholder="tapez le code du moyen ici..." />
                            <input type="submit" name="search" value="Search" />
                        }
                    </td>
                </tr>
            </table>

        </div>
    </div>










    <div>

    </div>
    <hr />




    <dl class="jumbotron">

        <dt>
            @Html.DisplayNameFor(model => model.moyenCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moyenCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entrepot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entrepot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cmu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hauteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hauteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longueur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longueur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.largeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vVent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vVent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_number)
        </dd>

        <dt>

        </dt>
        <dd>
            <div class="dropdown">
                <table class="table">
                    <tr>
                        <td>Photo</td>
                        <td>
                            <!-- dropdown image -->
                            <!--print file, added to correct error, le nom 'FileType n'existe pas dans le context actuel, replace(FileType,AirAsset.Models.FileType ) -->
                            @if (Model.Files.Any(f => f.FileType == AirAsset.Models.FileType.Capture))
                            {

                                <img src="~/File?id=@Model.Files.First(f => f.FileType == AirAsset.Models.FileType.Capture).fileId" alt="capture" width="200" height="150" />
                                <div class="dropdown-content">
                                    <img src="~/File?id=@Model.Files.First(f => f.FileType == AirAsset.Models.FileType.Capture).fileId" alt="capture" width="600" height="300" />
                                    <div class="desc">Capture du moyen logistique</div>
                                </div>
                            }

                        </td>
                        <td>
                            <!-- dropdown image -->
                            <!--print file, added to correct error, le nom 'FileType n'existe pas dans le context actuel, replace(FileType,AirAsset.Models.FileType ) -->
                            @if (Model.Files.Any(f => f.FileType == AirAsset.Models.FileType.Document))
                            {

                                <img src="~/File?id=@Model.Files.First(f => f.FileType == AirAsset.Models.FileType.Document).fileId" alt="document" width="200" height="150" />
                                <div class="dropdown-content">
                                    <img src="~/File?id=@Model.Files.First(f => f.FileType == AirAsset.Models.FileType.Document).fileId" alt="document" width="600" height="300" />
                                    <div class="desc">Document en PJ</div>
                                </div>
                            }

                        </td>
                    </tr>
                </table>
            </div>

        </dd>
    </dl>
</div>


<hr />
<p>

    @if (User.IsInRole("canEdit"))
    {
        @Html.ActionLink("Modifier le moyen", "Edit", new { id = Model.moyenID })
    }

    |

    @Html.ActionLink("Retour à la liste des moyens", "Index")
</p>
