@model IPagedList<AirAsset.Models.Moyen>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;

<hr/>
<h2 class="text-info">Liste des moyens</h2>

<hr />


<div class="row">
    <div class="col-md-4">
        <table class="table" border="1">
            <tr>
                <td>
                    @if (User.IsInRole("canEdit"))
                    {
                        @Html.ActionLink("Créer un nouveau moyen", "Create")
                    }
                </td>
                <td>
                    @if (User.IsInRole("canEdit"))
                    {
                        @Html.ActionLink("Exporter les moyens", "exportToCsv")
                    }
                </td>

            </tr>
        </table>
    </div>


    <div class="col-md-4">
       
    </div>

    <div class="col-md-4">
        <table class="table" border="1">
            <tr>
                <td align="right">
                    @using (Html.BeginForm("Index", "Moyens", FormMethod.Get))
                    {   <label class="text-info">Recherche:</label>
                        <input type="text" name="search" placeholder="taper une description ici..." />
                        <input type="submit" name="search" value="Search" />
                    }

                    @Html.ActionLink("Réinitialiser recherche", "Index")

                </td>
            </tr>
        </table>

    </div>
</div>


<hr/>


<div>
    <table class="table table-responsive" >

        <thead>
            @using (Html.BeginForm("Index", "Moyens", FormMethod.Get))
            {
                <tr class="jumbotron">
                    <th>
                        @Html.ActionLink("Code", "Index",
                        new { SortOrder = ViewBag.moyenCode,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType
                    })
                    </th>

                    <th>
                        @Html.ActionLink("Désignation", "Index",
                        new { SortOrder = ViewBag.designation,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType
                    })
                    </th>
                    <th>
                        @Html.ActionLink("Quantité", "Index",
                        new { SortOrder = ViewBag.quantite,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType
                    })
                    </th>
                    <th>
                        @Html.ActionLink("Produit", "Index",
                        new { SortOrder = ViewBag.secteur,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType})
                    </th>
                    <th>
                        @Html.ActionLink("Programme", "Index",
                        new { SortOrder = ViewBag.program,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType
                    })
                    </th>
                    <th>
                        @Html.ActionLink("Entrepot ou Ligne", "Index",
                        new { SortOrder = ViewBag.entrepotouligne,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType
                    })
                    </th>
                    <th>
                        @Html.ActionLink("Type", "Index",
                        new { SortOrder = ViewBag.type,
                            SelectedSecteur = ViewBag.SelectedSecteur,
                            SelectedProgramme = ViewBag.SelectedProgramme,
                            SelectedEntrepot = ViewBag.SelectedEntrepot,
                            SelectedType = ViewBag.SelectedType
                    })
                    </th>



                    <!-- hiden display

                <th>
                    @Html.DisplayNameFor(model => model.First().description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().poids)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().cmu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().hauteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().longueur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().largeur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().vVent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().r_number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().t_number)
                </th>
            -->

                    <th></th>
                </tr>

                <!-- Filter dropdownlist-->
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>

                        @Html.DropDownList("SelectedSecteur", new SelectList(ViewBag.UniqueSecteur, "Value", "Text", "ViewBag.SelectedSecteur"), "All", new { onchange = "form.submit();" })
                    </th>
                    <th>
                        @Html.DropDownList("SelectedProgramme", new SelectList(ViewBag.UniqueProgramme, "Value", "Text", "ViewBag.SelectedProgramme"), "All", new { onchange = "form.submit();" })
                    </th>
                    <th>
                        @Html.DropDownList("SelectedEntrepot", new SelectList(ViewBag.UniqueEntrepot, "Value", "Text", "ViewBag.SelectedEntrepot"), "All", new { onchange = "form.submit();" })
                    </th>
                    <th>
                        @Html.DropDownList("SelectedType", new SelectList(ViewBag.UniqueType, "Value", "Text", "ViewBag.SelectedType"), "All", new { onchange = "form.submit();" })
                    </th>
                    <th></th>
                </tr>
                <!-- end Filter dropdownlist-->
            }

        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="jumbotron">
                        <td>
                            @Html.DisplayFor(modelItem => item.moyenCODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantite)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.secteur)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.program)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.entrepot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>

                        <!-- hiden display
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.poids)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cmu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hauteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.longueur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.largeur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vVent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.r_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.t_number)
                    </td>
                -->
                        <td>

                            @Html.ActionLink("Détails", "Details", new { id = item.moyenID })


                            @if (User.IsInRole("canEdit"))
                            {
                                @Html.ActionLink("Modifier", "Edit", new { id = item.moyenID })
                            }


                            @if (User.IsInRole("canEdit"))
                            {
                                @Html.ActionLink("Supprimer", "Delete", new { id = item.moyenID })
                            }
                        </td>
                    </tr>
                }

            }
        </tbody>

    </table>

</div>

<div>
    @Html.ActionLink("Aller à la liste de tous les exemplaires des moyens existants", "Index", "Exemplaires")
</div>

<hr />

@Html.PagedListPager(Model, i => Url.Action("Index", "Moyens", new { i, search = Request.QueryString["search"] })) @*added to implemented pagination*@
