@model AirAsset.Models.Exemplaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exemplaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.moyenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moyenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exemplaireCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exemplaireCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suivi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suivi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fournisseur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fournisseur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_ES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_ES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_FS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_FS)
        </dd>

    </dl>
</div>
<p>

  
    @Html.ActionLink("Edit", "Edit", new { id = Model.exemplaireID }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
