@model AirAsset.Models.Exemplaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="dl-horizontal">
    <h4>Exemplaire</h4>
    <hr />

    <hr />
    <dl class="jumbotron">
        <dt>
            @Html.DisplayNameFor(model => model.reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exemplaireCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exemplaireCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suivi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suivi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typelocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typelocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fournisseur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fournisseur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_ES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_ES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_FS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_FS)
        </dd>

    </dl>
</div>
<hr />
<p>

    @if (User.IsInRole("canEdit"))
    {
        @Html.ActionLink("Modifier l'exemplaire", "Edit", new { id = Model.exemplaireID })
    }
    |
    @Html.ActionLink("Retour à la liste des exemplaires", "Index")
</p>
