@model IEnumerable<AirAsset.Models.Exemplary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="jumbotron">
        <th>
            @Html.DisplayNameFor(model => model.exemplaireCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suivi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typelocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fournisseur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_ES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_FS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="jumbotron">
        <td>
            @Html.DisplayFor(modelItem => item.exemplaireCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suivi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typelocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fournisseur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_ES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_FS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.exemplaireID }) |
            @Html.ActionLink("Details", "Details", new { id=item.exemplaireID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.exemplaireID })
        </td>
    </tr>
}

</table>
